# Risk Adjusted Returns

In [66]:
import pandas as pd
import numpy as np
prices = pd.read_csv("data/sample_prices.csv")
returns = prices.pct_change()
returns

        BLUE    ORANGE
0        NaN       NaN
1   0.023621  0.039662
2  -0.021807 -0.033638
3  -0.031763  0.082232
4   0.034477  0.044544
5   0.037786 -0.026381
6  -0.011452 -0.049187
7   0.032676  0.117008
8  -0.012581  0.067353
9   0.029581  0.078249
10  0.006151 -0.168261
11  0.012162  0.024041
12  0.021149 -0.055623

In [67]:
returns = returns.dropna()
returns

        BLUE    ORANGE
1   0.023621  0.039662
2  -0.021807 -0.033638
3  -0.031763  0.082232
4   0.034477  0.044544
5   0.037786 -0.026381
6  -0.011452 -0.049187
7   0.032676  0.117008
8  -0.012581  0.067353
9   0.029581  0.078249
10  0.006151 -0.168261
11  0.012162  0.024041
12  0.021149 -0.055623

In [13]:
# Sample standard deviation.
returns.std()

BLUE      0.023977
ORANGE    0.079601
dtype: float64

In [14]:
deviations = returns - returns.mean()
squared_deviations = deviations ** 2
variance = squared_deviations.mean()
volatility = np.sqrt(variance)
volatility

BLUE      0.022957
ORANGE    0.076212
dtype: float64

In [15]:
number_of_obs = returns.shape[0]
variance = squared_deviations.sum() / (number_of_obs - 1)
volatility = np.sqrt(variance)
volatility

BLUE      0.023977
ORANGE    0.079601
dtype: float64

In [16]:
# Yearly volatility.
returns.std() * np.sqrt(12)

BLUE      0.083060
ORANGE    0.275747
dtype: float64

In [17]:
returns = pd.read_csv("data/Portfolios_Formed_on_ME_monthly_EW.csv", 
                      header = 0, index_col = 0, parse_dates = True, na_values = -99.99)

In [18]:
returns.head()

,<= 0,Lo 30,Med 40,Hi 30,Lo 20,Qnt 2,Qnt 3,Qnt 4,Hi 20,Lo 10,Dec 2,Dec 3,Dec 4,Dec 5,Dec 6,Dec 7,Dec 8,Dec 9,Hi 10
192607,NaN,-0.43,1.52,2.68,-0.57,0.59,1.60,1.47,3.33,-1.45,0.29,-0.15,1.33,1.24,1.98,1.55,1.38,3.38,3.29
192608,NaN,3.90,3.04,2.09,3.84,3.59,3.71,1.61,2.33,5.12,2.59,4.03,3.15,2.72,4.72,1.60,1.63,0.98,3.70
192609,NaN,-1.08,-0.54,0.16,-0.48,-1.40,0.00,-0.50,-0.09,0.93,-1.87,-2.27,-0.53,0.07,-0.07,-1.64,0.64,-0.86,0.67
192610,NaN,-3.32,-3.52,-3.06,-3.29,-4.10,-2.89,-3.36,-2.95,-4.84,-1.77,-3.36,-4.83,-2.98,-2.80,-3.45,-3.27,-3.47,-2.43
192611,NaN,-0.46,3.82,3.09,-0.55,2.18,3.41,3.39,3.16,-0.78,-0.32,-0.29,4.65,3.24,3.57,3.82,2.95,3.61,2.70

In [19]:
columns = ["Lo 20", "Hi 20"]
returns = returns[columns]

In [20]:
returns.head()

        Lo 20  Hi 20
192607  -0.57   3.33
192608   3.84   2.33
192609  -0.48  -0.09
192610  -3.29  -2.95
192611  -0.55   3.16

In [21]:
returns = returns/100
returns.head()

         Lo 20   Hi 20
192607 -0.0057  0.0333
192608  0.0384  0.0233
192609 -0.0048 -0.0009
192610 -0.0329 -0.0295
192611 -0.0055  0.0316

In [35]:
#returns.shape[0]

In [22]:
returns.columns = ["SmallCap", "LargeCap"]

In [23]:
returns.head()

        SmallCap  LargeCap
192607   -0.0057    0.0333
192608    0.0384    0.0233
192609   -0.0048   -0.0009
192610   -0.0329   -0.0295
192611   -0.0055    0.0316

In [ ]:
returns.plot.line()

In [25]:
%matplotlib inline

In [26]:
returns.std()

SmallCap    0.097197
LargeCap    0.056325
dtype: float64

In [36]:
annualized_vol = returns.std() * np.sqrt(12)
annualized_vol

SmallCap    0.336701
LargeCap    0.195116
dtype: float64

In [37]:
n_months = returns.shape[0]
returns_per_month = (returns + 1).prod() ** (1 / n_months) - 1
returns_per_month

SmallCap    0.011860
LargeCap    0.007859
dtype: float64

In [38]:
annualized_vol

SmallCap    0.336701
LargeCap    0.195116
dtype: float64

In [39]:
annualized_return = (returns_per_month + 1) ** 12 - 1
annualized_return

SmallCap    0.151977
LargeCap    0.098490
dtype: float64

In [40]:
annualized_return = (returns + 1).prod() ** (12 / n_months) - 1
annualized_return

SmallCap    0.151977
LargeCap    0.098490
dtype: float64

In [41]:
annualized_return / annualized_vol

SmallCap    0.451370
LargeCap    0.504778
dtype: float64

In [42]:
riskfree_rate = 0.03
excess_return = (annualized_return - riskfree_rate)
sharpe_ratio = excess_return / annualized_vol
sharpe_ratio

SmallCap    0.362271
LargeCap    0.351023
dtype: float64

### Anualized Returns & Volatility with Slice Index.

In [68]:
# Annulized Return over the period 1999 - 2015
rets = pd.read_csv("data/Portfolios_Formed_on_ME_monthly_EW.csv", 
                      header = 0, index_col = 0, parse_dates = True, na_values = -99.99)
rets.index = pd.to_datetime(rets.index, format = "%Y%m")
rets.index = rets.index.to_period("M")
rets /= 100
rets.head()

,<= 0,Lo 30,Med 40,Hi 30,Lo 20,Qnt 2,Qnt 3,Qnt 4,Hi 20,Lo 10,Dec 2,Dec 3,Dec 4,Dec 5,Dec 6,Dec 7,Dec 8,Dec 9,Hi 10
1926-07,NaN,-0.0043,0.0152,0.0268,-0.0057,0.0059,0.0160,0.0147,0.0333,-0.0145,0.0029,-0.0015,0.0133,0.0124,0.0198,0.0155,0.0138,0.0338,0.0329
1926-08,NaN,0.0390,0.0304,0.0209,0.0384,0.0359,0.0371,0.0161,0.0233,0.0512,0.0259,0.0403,0.0315,0.0272,0.0472,0.0160,0.0163,0.0098,0.0370
1926-09,NaN,-0.0108,-0.0054,0.0016,-0.0048,-0.0140,0.0000,-0.0050,-0.0009,0.0093,-0.0187,-0.0227,-0.0053,0.0007,-0.0007,-0.0164,0.0064,-0.0086,0.0067
1926-10,NaN,-0.0332,-0.0352,-0.0306,-0.0329,-0.0410,-0.0289,-0.0336,-0.0295,-0.0484,-0.0177,-0.0336,-0.0483,-0.0298,-0.0280,-0.0345,-0.0327,-0.0347,-0.0243
1926-11,NaN,-0.0046,0.0382,0.0309,-0.0055,0.0218,0.0341,0.0339,0.0316,-0.0078,-0.0032,-0.0029,0.0465,0.0324,0.0357,0.0382,0.0295,0.0361,0.0270

In [69]:
columns = ["Lo 20", "Hi 20"]
rets = rets[columns]

In [72]:
rets["1999": "2015"].head()

          Lo 20   Hi 20
1999-01  0.1114  0.0153
1999-02 -0.0399 -0.0172
1999-03 -0.0308  0.0368
1999-04  0.0824  0.0679
1999-05  0.0435 -0.0048

In [73]:
n_months = rets.shape[0]
annualized_return = (rets["1999": "2015"] + 1).prod() ** (12 / n_months) - 1
annualized_return

Lo 20    0.020111
Hi 20    0.011268
dtype: float64

In [74]:
annualized_vol = rets["1999":"2015"].std() * np.sqrt(12)
annualized_vol

Lo 20    0.228894
Hi 20    0.172713
dtype: float64